/* ------------------------------------------------------- */
/* ---------------- Esercizio 1 -------------------------- */
/* ------------------------------------------------------- */

.ex-1-square {
  width: 100px;
  height: 100px;
  border: 1px solid red;
  transition: all 2s ease-in-out;
}

.ex-1-square:hover {
  background-color: red;
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 2 -------------------------- */
/* ------------------------------------------------------- */

.ex-2-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease-in-out;
}

.ex-2-square:active {
  width: 100%;
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 3 -------------------------- */
/* ------------------------------------------------------- */

.ex-3-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease-in-out;
}

.ex-3-square:hover {
  border-radius: 50%;
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 4 -------------------------- */
/* ------------------------------------------------------- */

.ex-4-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease-in-out;
}

.ex-4-square:hover {
  opacity: 0;
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 5 -------------------------- */
/* ------------------------------------------------------- */

.ex-5-square {
  width: 100px;
  height: 100px;
  background: red;
  transition: all 2s ease-in-out;
}

.ex-5-square:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.ex-5-square:active {
  transform: scale(0.7);
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

.ex-6-img,
.ex-7-img,
.ex-8-img {
  width: 500px;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 6 -------------------------- */
/* ------------------------------------------------------- */

.ex-6-img {
  transition: all 0s ease-in-out;
}

.ex-6-img:hover {
  filter: grayscale(1);
  cursor: pointer;
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

.ex-7-img,
.ex-8-img {
  transition: all 1s ease-in-out;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 7 -------------------------- */
/* ------------------------------------------------------- */

.ex-7-img:hover {
  filter: blur(0.5px) sepia(0.5);
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 8 -------------------------- */
/* ------------------------------------------------------- */

.ex-8-img:hover {
  border-radius: 20px;
  filter: saturate(1.5) brightness(1.3);
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 9 -------------------------- */
/* ------------------------------------------------------- */

.ex-9-img {
  margin: 50px 100px;
  width: 400px;
  transition: all 1s ease-in-out;
}

.ex-9-img:hover {
  border-radius: 20px;
  transform: scale(1.3);
  filter: brightness(1.3) saturate(1.3);
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 10 ------------------------- */
/* ------------------------------------------------------- */

.ex-10-icon {
  font-size: 60px;
  animation-name: iconSpin;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes iconSpin {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 11 ------------------------- */
/* ------------------------------------------------------- */

.ex-11-icon {
  font-size: 60px;
}

.ex-11-icon:hover {
  animation-name: iconSpinTwo;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
}

@keyframes iconSpinTwo {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(90deg);
  }

  50% {
    transform: rotate(180deg);
  }

  75% {
    transform: rotate(270deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* ------------------------------------------------------- */
/* ------------------------------------------------------- */

.ex-12-button,
.ex-13-button {
  position: relative;
  display: block;
  width: 200px;
  height: 70px;
  text-transform: uppercase;
  border: 3px solid #1b3c59;
  color: #1b3c59;
  font-size: 20px;
  line-height: 70px;
  text-align: center;
  text-decoration: none;
}
.ex-12-top-white,
.ex-13-top-white {
  position: absolute;
  top: -10px;
  left: 10%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
  transition: all 1s ease-in-out;
}
.ex-12-bottom-white,
.ex-13-bottom-white {
  position: absolute;
  bottom: -10px;
  right: 20%;
  background: #f5f5f5;
  width: 60px;
  height: 20px;
  transition: all 1s ease-in-out;
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 12 ------------------------- */
/* ------------------------------------------------------- */

.ex-12-button:hover .ex-12-top-white {
  animation-name: button-12-top;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes button-12-top {
  0% {
    left: 10%;
  }

  50% {
    left: calc(90% - 60px);
  }

  100% {
    left: 10%;
  }
}

.ex-12-button:hover .ex-12-bottom-white {
  animation-name: button-12-bottom;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes button-12-bottom {
  0% {
    right: 20%;
  }

  50% {
    right: calc(80% - 60px);
  }

  100% {
    right: 20%;
  }
}

/* ------------------------------------------------------- */
/* ---------------- Esercizio 13 ------------------------- */
/* ------------------------------------------------------- */

.ex-13-button:hover .ex-13-top-white {
  animation-name: button-13-top;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes button-13-top {
  0% {
    top: -10%;
    left: 10%;
  }

  25% {
    top: -10%;
    left: 90%;
  }

  50% {
    top: 90%;
    left: 90%;
  }

  75% {
    top: 90%;
    left: -10%;
  }

  87.5% {
    top: -10%;
    left: -10%;
  }

  100% {
    top: -10%;
    left: 10%;
  }
}

.ex-13-button:hover .ex-13-bottom-white {
  animation-name: button-13-bottom;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes button-13-bottom {
  0% {
    right: 20%;
    bottom: -10%;
  }

  25% {
    right: 80%;
    bottom: -10%;
  }

  50% {
    right: 80%;
    bottom: 90%;
  }

  75% {
    right: -10%;
    bottom: 90%;
  }

  90% {
    right: -10%;
    bottom: -10%;
  }

  100% {
    right: 20%;
    bottom: -10%;
  }
}
